* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  height: 99.9vh;
  display: flex;
  background: #fff;
}
.container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 10px 10px;
}
.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.container .card:hover {
  flex-grow: 3;
  background: #1a1a1a;
}
.container .card ion-icon {
  font-size: 15vw;
}
.container .card:hover ion-icon {
  color: #fff;
  font-size: 25vw;
  filter: drop-shadow(0 0 30px #ea4884) drop-shadow(0 0 60px #ea4884)
    drop-shadow(0 0 100px #ea4884);
}
